:root {
  --black: rgba(37, 41, 82, 0.897);
  --black-dark: rgba(18, 20, 46, 0.911);
}

.bg-black {
  background-color: var(--black) !important;
  
}

.main-bg {
  background:linear-gradient(var(--black), var(--black-dark)), url(assets/imgs/code-bg.jpg);
  
}


body {
  min-height: 75rem;
  padding-top: 3.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.about-page .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  
}
  
.about-page .bi {
  vertical-align: -.125em;
  fill: currentColor;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}