.bg-black {
  /* background-color: #171719 !important; */
  background: linear-gradient(#171719d3, #171719), url(assets/imgs/bg.svg) !important;
}

blue {
  color: #2d56c7;
}

.col p {
  font-size: 20px;
  width: 70%;
}

.col .discord {
  width: 700px;
  border-radius: 10px;
}

.footer {
  background-color: #202225;
}

.footer p {
  font-size: 20px;
  color: white ;

}

.main-bg {
  background:linear-gradient(rgba(31, 82, 185, 0.897), (rgba(173, 39, 39, 0.911), url(assets/imgs/code-bg.jpg)));
  height: 380px;
}

.main-bg #logo {
  display: inline;
  width: 365px;
}

body {
  min-height: 75rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.about-page .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  
}
  
.about-page .bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.navbar-background {
  /*background-color: rgba(17, 17, 17, 0.938);
    background-color: #171719 !important;
  */
  background-color: #202225 !important;

}

.suomi-koodarit h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nappula {
  display: inline-block;
  background-color: #5865f2;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
  width: 67.5% ;
  transition: 0.8s;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.nappula:hover {
  background-color: #2530a7;
  transition: 0.8s;

}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}