@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-black {
  background-color: rgb(23, 23, 24) !important;
  
}

.main-bg {
  background:linear-gradient(rgba(31, 82, 185, 0.897), (rgba(173, 39, 39, 0.911), url(/assets/imgs/code-bg.jpg)));
  height: 380px;
}

.main-bg .logo {
  display: inline;
  width: 365px;
}

body {
  min-height: 75rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.about-page .b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  
}
  
.about-page .bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.navbar-background {
  background-color: rgba(17, 17, 17, 0.938);
}

.suomi-koodarit {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nappula {
  background-color: #3ba55d;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}